# Gmail API OAuth2 Credentials
# 1. Go to https://console.cloud.google.com/apis/credentials
# 2. Create an OAuth 2.0 Client ID (Web application)
# 3. Add http://localhost:3001/api/gmail/callback as Authorized redirect URI
# 4. Enable Gmail API at https://console.cloud.google.com/apis/library/gmail.googleapis.com
# 5. Copy Client ID and Client Secret below
# 6. Start the app, visit http://localhost:3001/api/gmail/auth to get the refresh token
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
